{{ define "main" }}
	<h4>Language Comparison Quick Reference</h4>
	<div class="code-section-grid">
		<div class="menu column2">
			<select id="column2-select" name="2">
				<option value="" disabled="disabled">Choose language:</option>
				<option value="swift" selected="selected">Swift</option>
				<option value="dart">Dart</option>
				<option value="java" disabled="disabled">Java (coming soon)</option>
				<option value="python">Python (coming soon)</option>
			</select>
		</div>
		<div class="menu column3">
			<select id="column3-select" name="3">
				<option value="" disabled="disabled">Choose language:</option>
				<option value="swift">Swift</option>
				<option value="dart" selected="selected">Dart</option>
				<option value="java" disabled="disabled">Java (coming soon)</option>
				<option value="python">Python (coming soon)</option>
			</select>
		</div>
	</div>
	{{- $compareItems := (index .Site.Data .Params.comparisonType) -}}
	
	{{/* use sections defined in front matter for outer loop */}}
	{{- range $sectionsParamsMap := .Params.comparisonSections -}}
		{{- range $sectionShortName, $sectionTitle := $sectionsParamsMap -}}
		
{{/* first output title using partial and two vars */}}
{{ partial "comparison-section-header.html" (dict "title" $sectionTitle "sectionShortName" $sectionShortName) -}}

			{{/* then output section grid, getting the current section for each item */}}
	<div id="{{ $sectionShortName }}" class="code-section-grid">
		{{- /* partial for each (grid) item to be compared */ -}}
		{{- partial "comparison-item.html" (dict "compareItems" $compareItems "sectionShortName" $sectionShortName) -}}
		
		{{- end -}} {{/*  sectionsParamsMap */}}
	</div><!-- code-section-grid -->
	{{- end -}} {{/* comparisonSections - sections defined in front matter */}}
{{- end -}} {{/* main */}}

