:root {
  --dart-column: 0;
  --dart-visibility: none;
  --dart-color:hsl(203, 92%, 70%);
    
  --python-column: 0;
  --python-visibility: none;
  --python-color:hsl(211, 37%, 48%);
    
  --swift-column: 0;
  --swift-visibility: none;
  --swift-color:hsl(10, 70%, 65%);
    
}


.dart-bg-color { background-color: var(--dart-color); }
.dart {
  display: var(--dart-visibility);
  grid-column: var(--dart-column);
}
  
.python-bg-color { background-color: var(--python-color); }
.python {
  display: var(--python-visibility);
  grid-column: var(--python-column);
}
  
.swift-bg-color { background-color: var(--swift-color); }
.swift {
  display: var(--swift-visibility);
  grid-column: var(--swift-column);
}
  
#column1-select-div {
  grid-column: 2;
}
#column2-select-div {
  grid-column: 3;
}
#column3-select-div {
  grid-column: 4;
}