body {
  margin: 20px;
}

:root {
	--accent-hue: 210;			/* blue */

	/* language theme colors */
	--swift-color: hsl(10, 70%, 57%);
	--dart-color: hsl(203, 92%, 70%);
	--python-color: hsl(211, 37%, 48%);

  --swift-column:0;
  --dart-column:0;
  --python-column:0;
  --swift-visibility:none;
  --dart-visibility:none;
  --python-visibility:none;
}

.code-section-grid {
	margin-top: 0px;
	
	/* for collapse/expand */
	overflow: hidden;
	transition: height .6s ease;
	height: auto;
	
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20px minmax(500px, 1fr) minmax(500px, 1fr);
  grid-auto-columns: minmax(500px, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 0px 20px;
  align-self: stretch;
}

.menu {
  border-radius: 15px;
  margin-top: 0px;
}

.column2 {
	grid-column: 2;
}
.column3 {
	grid-column: 3;
}

.code-section-header-title {
	background-color: var(--code-header-background);
	color: var(--code-color);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	height: 30px;
	width: 100%;
}
.code-section-header-title > h5 {
	display: inline-block;
	font-size: 2.0rem;
	margin-left: 20px;
	line-height: 30px;
}
.code-section-header-title > button {
	margin-top: 0px;
	border: none;
	color: var(--code-color);
	float: right;
	margin-right: 15px;
	height: 30px;
	line-height: 30px;
	font-size: 14px; /* TODO us rems instead, didn't work at first */
}

.lang {
	margin: 0px;
	padding: 0px;
}

.lang.first {
	padding-top: 15px;
}

.lang.last {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.swift {
  display: var(--swift-visibility);
  background-color: hsl(10, 70%, 65%);
  grid-column: var(--swift-column);;
}

.dart {
  display: var(--dart-visibility);
  background: #6AC1F9;
  grid-column: var(--dart-column);
}

.python {
  display: var(--python-visibility);
  background: #4E79A8;
  grid-column: var(--python-column);
}

.code-wrapper {
	display: flow-root;
	position: relative;
	border-radius: 8px;
	margin: 0 20px 2rem 20px;
	background-color: var(--code-background);
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.code-wrapper pre {
	margin: 0;
}

.code-wrapper a {
	float: right;
	margin: 8px 10px 10px 0;
}

.code-header {
	color: var(--code-color);
	background-color: var(--code-header-background);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding-left: 1.7rem;
	font-size: 1.4rem;
	line-height: 1.9;
	height: 2.4rem;
	justify-content: space-between;
	text-transform: uppercase;
}

code {
	border: none;
	margin: 0;
	border-radius: 8px;
	font-size: 1.6rem;
}

div.code-wrapper.showHeader pre code {
	border-radius: 0 0 8px 8px;
}


.flex {
	display: flex;
}

.code-reference {
  margin: 0px 10px 18px 20px;
}

.code-reference a, .code-wrapper a {
	background-color: var(--code-background);
	border-radius: 15px;
	padding: 2px 10px 5px 10px;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.code-reference a:hover {
	background-color: #fff;
	box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.6);
}